body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #f4f4f8;
    padding: 30px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

/* STARS */
.stars span {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
}

.stars span.active {
    color: gold;
}

/* TEXT */
textarea {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    resize: none;
}

/* BUTTON */
button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #886BC6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* REVIEW LIST */
.review-item {
    margin-top: 15px;
    padding: 10px;
    background: #f9f9ff;
    border-radius: 8px;
}