.card{
    background-color: #d9d9d9;
    padding: 30px 20px;
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rataKiri{
    display: flex;
    flex-direction: column;
    align-items: start;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

