/* ─── NAVBAR ─────────────────────────────────── */
/* form tambah barang */
.tombol-kembali {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #555;
    cursor: pointer;
    transition: color 0.2s;
    width: fit-content;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.tombol-kembali:hover {
    color: #886BC6;
    padding: 10px;
    background-color: #e8ddff;
    border-radius: 10px;
    transform: scale(1.05);
}

.tombol-kembali .text {
    font-size: 14px;
}

.tombol-kembali .icon {
    width: 16px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 75px);
    padding: 40px 20px; 
    box-sizing: border-box;
}

.bungkus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.judulCard{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.judulCard span{
    color: #333;
}

.cardForm{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 50px 30px;
    width: 900px;
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hiddenInput{
    display: none;
}

.judulUpload {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
    padding-bottom: 5px;
}

p, label {
    font-size: 14px;
}

.kotakUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px dashed #cbd5e1;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    color: #64748b;
    gap: 8px;
    transition: all 0.2s ease-in-out;
}

.kotakUpload :nth-child(3){
    font-size: 12px;
}

.kotakUpload:hover {
    background-color: #f8fafc;
    border-color: #886BC6;
}

.iconUpload {
    width: 20px;
    height: 20px;
}

.namaBarang {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
    gap: 5px;
}

.namaBarang input{
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    border: 0;
    font-size: 14px;
    color: #333;
    outline: none;  
}

.rowInput{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.hargaBarang, .kondisiBarang{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
    width: 50%;
    gap: 10px;
}

.hargaBarang input, .kondisiBarang select{
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    border: 0;
    font-size: 14px;
    color: #333;
}

.rowInput2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.kategoriBarang, .kecamatanBarang{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
    width: 50%;
    gap: 5px;
}

.kategoriBarang select, .kecamatanBarang select, .kondisiBarang select{
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    border: 0;
    font-size: 14px;
    color: rgb(62, 62, 62, 0.8);
}

.deskripsiBarang{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
    width: 100%;
    gap: 5px;
}

.deskripsiBarang textarea{
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    border: 0;
    font-size: 14px;
    color: #333;
    height: 100px;
}

.rowButton{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.buttonBatal, .buttonPosting{
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
}

.buttonBatal{
    background-color: #f5f2fa;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    color: #333;
    transition: all 0.2s ease-in-out;
}

.buttonBatal:hover{
    background-color: #e5e0f5;
}

.buttonPosting{
    text-align: center;
    background-color: #886BC6;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.buttonPosting:hover{
    background-color: #6b4db3;
}