.card {
    display: flex;
    flex-direction: row;
    width: 1030px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #F6F2FF;
}

body {
    background-color: white;
    
}

.left-area {
    background: linear-gradient(to bottom right, #886BC6, #dbcefc);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 50px;
    border-radius: 20px;
    color: #F6F2FF;
}

.right-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    padding: 50px;
    gap: 25px;
}

.left-area img{
    width: 120px;
}

.left-area p{
    font-size: 11px;
}

.ingatSaya {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.lupaPw {
    text-align: right;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    color: #886BC6;
}

form :nth-child(1){
    font-weight: 500;
    padding-bottom: 3px;
    font-size: 14px;
}

h1{
    font-size: 30px;
}

.header-login p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.loginSalah {
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    font-size: 0.8rem;
}

.bwahForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


.to-regist {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    justify-content: center;
    font-size: 14px;
}

button {
    width: 100%;
    background: linear-gradient(to right, #886BC6, #D3C3FB);
    color: white;
    border: 0px;
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
}

.input-form {
    width: 100%;
    padding: 8px;
    padding: 10px 0;
    border: 0;
    border-radius: 8px;
    box-shadow:  0 0 3px  rgba(0, 0, 0, 0.3);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.to-regist a {
    color: #886BC6;
    text-decoration: none;
    font-weight: 600;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}