/* ─── NAVBAR ─────────────────────────────────── */
/* card profile ------------------^^*/
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nama-profile{
    font-size: 18px;
}
.username{
    color: rgb(0, 0, 0, 0.7);
}


.dataLokasi{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.dataLokasi p{
    font-size: 14px;
}

.cardProfile{
    background-color: white;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.bgProfile{
    width: 100%;
    height: 150px;
    background: linear-gradient(130deg, #D3C3FB 0%, #886BC6 50%, #D3C3FB 100%);
    border-radius: 10px;
}

.bgProfile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilePic{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    left: 70px;
}

.dataProfile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.icon {
    width: 14px;
}

p{
    font-size: 14px;
}

.buttonArea{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: fit-content;
    width: 100%;
    padding-bottom: 10px;
}

.isiProfile{
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    padding-top: 65px;
    width: 600px;
}

.profile-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btnToko{
    background-color: #886BC6;
    color: #ffffff;
    padding: 5px 20px;
    border: 0;
    border-radius: 10px;
    width: 50%;
}




.btnEdit{
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    width: 50%;
    color: #222;
}

.infoToko{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ratingToko{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ratingToko :nth-child(3){
    font-weight: 300;
}

.ratingToko :nth-child(2){
    font-weight: 600;
}

.barangAktif{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.barangAktif :nth-child(1){
    font-weight: 500;
}

.totalJual{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* card barang jualan----------------^^ */
.cardJualan{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    padding-top: 20px;
}

.navJualan{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: white;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
    position: relative;
}

.navJualan button{
    border: 0;
    background-color: transparent;
    border-radius: 8px;
    position: relative; 
    z-index: 1; 
    cursor: pointer;
}

.backgroundGeser{
    position: absolute;
    top: 8px;
    height: 60%;
    background-color: #f8f8fc;
    border-radius: 8px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4); 
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

.rowButton{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}


.cardBarang{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.5px solid rgb(0, 0, 0, 0.4);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
}

.detailBarang{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.harga{
    font-weight: 500;
    color: #886BC6;
}

/* ULASAN RAWRRRRR---------------^^ */
.hidden{
    display: none !important;
}

.cardUlasan{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    border-bottom: 1px solid black;
}

.rowUlasan{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rowUlasan img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.namaUlasan{
    display: flex;
    flex-direction: column;
}

.namaUlasan :nth-child(1){
    font-weight: 500;
    font-size: 16px;
}

.namaUlasan :nth-child(2){
    font-weight: 300;
    font-size: 14px;
}

.produkUlasan{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(162, 83, 177, 0.2);
    border: 1px solid #886BC6;
    border-radius: 10px;
    padding: 5px;
}

.rowProduk{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.rowProduk img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #886BC6;
}